<app-header></app-header>
<div class="content">
<!-- MAIN HEADING -->
<section class="mt-5">
  <div class="row">
    <div class="col-md-12 py-5" style="text-align: center;">
      <h6 class="text-muted">BRINGING VOTING SYSTEMS INTO THE DIGITAL AGE:</h6>
      <img alt="logo" height="150" src="../../../assets/img/logoTrans.png" width="320">
      <div>
        <h5 class="text-danger d-inline pr-3">General</h5>
        <h5 class="text-primary d-inline pr-3">Voting</h5>
        <h5 class="text-success d-inline">System</h5>
      </div>
    </div>
  </div>
</section>

<!-- Intro SECTION -->
<section class="p-5 mb-5" id="introduction">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-4">
          <h5>
          <!--  <i class="fas fa-arrow-circle-right fa-1x pr-2"></i> -->
            <img src="../../../assets/img/icons/forwardArrow.png" class="icons" alt="arrow">Introducing a secure and transparent voting
            solution. allowing anyone anywhere to vote online from a digital device in a fully secure,
            easy and certain way.
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FEATURES -->
<section class="py-5 mb-5 text-center bg-white" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center border-0 bg-white">
          <div class="card-body">
            <img src="../../../assets/img/icons/protect.png" class="about-icons" alt="protect">
            <div class="text-primary font-weight-bold">TAMPER-PROOF</div>
            <p class="text-muted pt-2">Ballots and results cannot be altered by any third party.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center border-0 bg-white">
          <div class="card-body">
            <img src="../../../assets/img/icons/lock.png" class="about-icons" alt="private">
            <div class="text-primary font-weight-bold">PRIVATE</div>
            <p class="text-muted pt-2">Voters’ choices and identities are protected.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center border-0 bg-white">
          <div class="card-body">
            <img src="../../../assets/img/icons/accessible.png" class="about-icons" alt="accessible">
            <div class="text-primary font-weight-bold">ACCESSIBLE</div>
            <p class="text-muted pt-2">Voters can participate in a modern, convenient and fair way.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center border-0 bg-white">
          <div class="card-body">
            <img src="../../../assets/img/icons/affordable.png" class="about-icons" alt="affordable">
            <div class="text-primary font-weight-bold">AFFORDABLE</div>
            <p class="text-muted pt-2">Digitization of paper and manual processes reduces election costs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- HOME HEADING SECTION -->
<section class="py-5 mb-5" id="home-heading">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container mt-3 pt-3">
          <h1>Ready To Get Started?</h1>
          <button class="btn btn-primary mt-2 font-weight-bold" (click)="onSignUp()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MISSION -->
<section class="py-5 mb-5 bg-white" id="mission">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mission pb-3 text-center">
          <h1 class="text-primary pb-3">
            Our Mission
          </h1>
        </div>
        <div class="row">
          <div class="col-md-6 p-5">
            <blockquote class="text-justify"><p class="quotation">
              It is enough that the people know there was an election.
              The people who cast the votes decide nothing. The people who count the votes decide everything.</p>
              <footer> - Joseph Stalin</footer>
            </blockquote>
          </div>
          <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/TFr-5yz3pcI"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TEAM -->
<section class="py-5 mb-5 text-center" id="authors">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-primary pb-3">
            Meet the Team
          </h1>
          <p class="lead pb-3 text-justify">
            Our team is a group of individuals bound together by their passion for spreading secure and
            transparent voting around the world and the shared belief that GVS can offer great value for
            global human rights.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle w-50 mb-3" src="../../../assets/img/person4.jpg">
            <h3>Usama Ubaid</h3>
            <h5 class="text-muted">Leader</h5>
            <p></p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/usama.rajpoot.1840" target="_blank"><img src="../../../assets/img/icons/facebook.png" class="icons" alt="facebook"></a>
              </div>
              <div class="pt-2">
                <a  href="mailto:bsef15m015@pucit.edu.pk"><img src="../../../assets/img/icons/email.png" class="icons" alt="email"></a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle w-50 mb-3" src="../../../assets/img/person5.jpg">
            <h3>Wasif Munir</h3>
            <h5 class="text-muted">Backend Developer</h5>
            <p></p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/mirzi007" target="_blank"><img src="../../../assets/img/icons/facebook.png" class="icons" alt="facebook"></a>
              </div>
              <div class="pt-2">
                <a  href="mailto:bsef15m027@pucit.edu.pk"><img src="../../../assets/img/icons/email.png" class="icons" alt="email"></a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle w-50 mb-3" src="../../../assets/img/person1.jpg">
            <h3>Saad Haroon</h3>
            <h5 class="text-muted">Frontend Developer</h5>
            <p></p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/mr.cancerian013" target="_blank"><img src="../../../assets/img/icons/facebook.png" class="icons" alt="facebook"></a>
              </div>
              <div class="pt-2">
                <a  href="mailto:bsef15m013@pucit.edu.pk"><img src="../../../assets/img/icons/email.png" class="icons" alt="email"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle w-50 mb-3" src="../../../assets/img/person2.jpg">
            <h3>Shahwar Khalid</h3>
            <h5 class="text-muted">Backend Developer</h5>
            <p></p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/itisshahwar" target="_blank"><img src="../../../assets/img/icons/facebook.png" class="icons" alt="facebook"></a>
              </div>
              <div class="pt-2">
                <a  href="mailto:bsef15m041@pucit.edu.pk"><img src="../../../assets/img/icons/email.png" class="icons" alt="email"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle w-50 mb-3" src="../../../assets/img/person3.jpg">
            <h3>Ali Nasir</h3>
            <h5 class="text-muted">Frontend Developer</h5>
            <p></p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="https://www.facebook.com/Alinasir85" target="_blank"><img src="../../../assets/img/icons/facebook.png" class="icons" alt="facebook"></a>
              </div>
              <div class="pt-2">
                <a  href="mailto:bsef15m014@pucit.edu.pk"><img src="../../../assets/img/icons/email.png" class="icons" alt="email"></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<section class="bg-white py-5 mb-2" id="contact">
  <h1 class="text-primary text-center pb-3">
    Get In Touch
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <p>
          Get in touch with our team to answer your questions or start discussing your custom voting solution.
        </p>
        <form [formGroup]="contactForm">
          <div class="form-group">
            <div class="input-group input-group-lg">
                              <span class="input-group-text">
                                  <img src="../../../assets/img/icons/user.png" class="addon-icons" alt="user">
                              </span>
              <input class="form-control" formControlName="name" placeholder="Name" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-lg">
                              <span class="input-group-text">
                                  <img src="../../../assets/img/icons/email.png" class="addon-icons" alt="email">
                              </span>
              <input class="form-control" formControlName="email" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
                              <span class="input-group-text">
                                  <img src="../../../assets/img/icons/message.png" class="addon-icons" alt="message">
                              </span>
              <textarea class="form-control" formControlName="message" cols="30" placeholder="Message" rows="5"></textarea>
            </div>
          </div>
          <button class="btn btn-primary btn-block btn-lg" [disabled]="!contactForm.valid" (click)="onContactUs()"><img src="../../../assets/img/icons/check.png" class="addon-icons pr-1" alt="check">Submit</button>
        </form>
      </div>
      <div class="col-lg-3 d-none d-lg-block align-self-center">
        <img alt="" class="img-fluid" src="../../../assets/img/logoTrans.png">
      </div>
    </div>
  </div>
</section>
</div>
