<div class="container pb-2">
  <div class="row mt-4">
    <div class="col-md-4">
      <button id="showVotedPollsBtn" class="btn-success btn-block btn-lg" (click)="showActivePolls()">Active Voted Polls</button>
    </div>
    <div class="col-md-4">
      <button id="showEndedPollsBtn" class="btn-success btn-block btn-lg" (click)="showEndedPolls()">Ended Polls</button>
    </div>
    <div class="col-md-4">
      <button id="showCreatedPollsBtn" class="btn-success  btn-block btn-lg" (click)="showCreatedPolls()">Created Polls</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
